<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Tweet Analyzer</title>
        </script>
    </head>

    <body>

        <header>
            <div class="">
                Logo
            </div>
            <div class="">
                navigation
            </div>
        </header>

        <main>
            <section>
                <label for="sentiment-form">Analyze your tweet</label>
                <form id = "sentiment-form" class="">
                    <input id="tweet" type="text" name="input" value="" placeholder="Enter a tweet" required>
                    <input type="date" id="showDate" value ="" placeholder="pick a date" required>
                    <button id="submitForm">Submit</button>
                </form>
            <section>

            <section>
                <h1>Form Results:</h1>
                <div id="destinationCoord"></div>
                <div id="destinationWeather"></div>
            </section>
            <section>
                <h1>Image:</h1>
                <img id='destinationPicture' src="">
            </section>
        </main>

        <footer>
            <p>This is a footer</p>
        </footer>
        <script type="text/javascript" src="main.js"></script>
        <script>
            // Check that service workers are supported
            if ('serviceWorker' in navigator) {
                // Use the window load event to keep the page load performant
                window.addEventListener('load', () => {
                    navigator.serviceWorker.register('/service-worker.js');
                });
            }
        </script>
    </body>
</html>