<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Travel Planner</title>
        </script>
    </head>

    <body>

        <header>
            <h1>Travel Planner</h1>
            <!-- <div class="">
                navigation
            </div> -->
        </header>

        <main>
            <section>
                <!-- <label for="destination-form">Enter your destination</label> -->
                <form id = "destination-form" class="">
                    <div class="form-container">
                        <label for="destination">My trip to:</label>
                        <input id="destination" type="text" name="input" value="" placeholder="Enter location" required>
                    </div>
                    <div class="form-container">
                        <label for="date">Departing:</label>
                        <input id="date" type="date" value ="" required>
                    </div>
                    <button id="submitForm">Submit</button>
                </form>
            <section>

            <section id = "destinationResult">
                <img id='destinationPicture' class="destImage" src="">
                <div id="destinationInfo">
                    <div id="destinationCity"></div>
                    <div id="departureTime"></div>
                    <div id="buttonsContainer">
                        <button id="saveTrip">save trip</button>
                        <button id="removeTrip" disabled>remove trip</button>
                    </div>
                    <div id="daysLeft"></div>
                    <div id="destinationWeather"></div>
                </div>
            </section>
            <section>
            </section>
        </main>

        <footer>
            <p>This is a footer</p>
        </footer>
        <script type="text/javascript" src="main.js"></script>
        <script>
            // Check that service workers are supported
            if ('serviceWorker' in navigator) {
                // Use the window load event to keep the page load performant
                window.addEventListener('load', () => {
                    navigator.serviceWorker.register('/service-worker.js');
                });
            }
        </script>
    </body>
</html>