// Add Google font
@import url("https://fonts.googleapis.com/css?family=Roboto+Slab|Roboto");

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: Roboto Slab, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-right: 20px;
    padding-left: 20px;
}

main {
    flex: 2;
}

section {
    max-width: 800px;
    margin: 50px auto;
}

h1 {
    font-size: 3em;
    margin-bottom: 10px;
    margin-top: 30px;
    font-family: Roboto, Verdana, Geneva, Tahoma, sans-serif;
}