@import "./travel_app_theme.scss";

#destinationResult {
    padding: 20px 10px;
    background-color: rgba($bg-color-primary, 0.37);
    display: flex;
    flex-direction: row;
}

#destinationPicture {
    padding-right: 10px;
    min-width: 300px;
    max-width: 500px;
}

#destinationCity,
#departureTime {
    font-size: 1.5em;
    font-weight: bold;
}

#destinationWeather,
#daysLeft {
    margin: 5px 0px;
}

#buttonsContainer {
    display:flex;
    flex-direction: row;
    margin: 20px 0px;
    padding: 10px 5px;
}

button {
    background-color: white;
    border: 2px solid black;
    color: $text-color-primary;
    margin: 0px 5px;
    padding: 5p 20px;
    max-width: 200px;
    width: 100%;
    min-width: 100px;
    height: 30px;
    &:hover {
        border: 2px solid $color-highlight;
    }
    &:disabled {
        background-color: $bg-color-primary;
        border: 2px solid white;
        color: $text-color-secondary;
    }
}

