@import "./colortheme.scss";

#destinationResult {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgba($bg-color-primary, 0.37);
    display: flex;
    flex-direction: row;
}

#destinationPicture {
    padding-right: 10px;
    min-width: 300px;
}

#destinationCity,
#departureTime {
    font-size: 1.5em;
    font-weight: bold;
}

#destinationWeather,
#daysLeft {
    margin-bottom: 5px;
    margin-top: 5px;
}

#buttonsContainer {
    display:flex;
    flex-direction: row;
    margin-top: 20px;
    margin-bottom: 20px;
}

button {
    background-color: white;
    border: 2px solid black;
    color: $text-color-primary;
    margin-left: 5px;
    margin-right: 5px;
    &:hover {
        border: 3px solid $color-highlight;
    }
    &:disabled {
        background-color: $bg-color-primary;
        border: 2px solid white;
        color: $bg-color-secondary;
    }
}

