@import "./travel_app_theme.scss";

form {
    padding: 40px;
    background-color: $bg-color-secondary;
}

.form-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

input {
    padding: 5px 10px;
    width: 300px;
    margin: 2px 5px;
    font-size: 2em;
    font-family: $font-family-primary;
    color: $text-color-secondary;
    border: 0px;
    background-color: $bg-color-secondary;

    &:hover{
        color: $text-color-secondary-dark;
    }
}

label {
    font-size: 2em;
}

#submitForm {
    margin: 20px 5px;
    width: 200px;
    height: 30px;
}