@import url("https://fonts.googleapis.com/css?family=Roboto+Slab|Roboto");


// Define color theme
$bg-color-primary: rgba(255, 199, 199, 0.37);
$bg-color-secondary: rgb(231, 231, 231);
$color-highlight: rgb(252, 132, 132);
$text-color-primary: black;
$text-color-secondary: rgb(150, 149, 149);
$text-color-secondary-dark: rgb(109, 109, 109);

// Define font style
$font-family-primary: Roboto Slab, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
$font-family-headline: Roboto, Verdana, Geneva, Tahoma, sans-serif;

